# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore compiled class files
*.class

# Ignore Eclipse/IDE bin directory (compiled classes)
bin/

# Ignore IDE-specific files
.classpath
.project
.settings/
.vscode/
.vs/
dsl-framework/.vs
*.iml
.idea/
/dsl-framework/nbproject/
/dsl-framework/target/
